{%- liquid
  if finalPrice < price
    assign final_class = 'text-red-500'
  else
    assign final_class = 'text-foreground'
  endif
-%}

<p class="price-container flex items-baseline gap-x-2 gap-y-0 flex-wrap text-base md:text-lg leading-[1.2]">
  {% if finalPrice %}
    <span class="final-price font-bold">{{ finalPrice | money }}</span>
  {% endif %}
  {% if price %}
    <span class="compare-at-price line-through text-sm {{ final_class }}">{{ price | money }}</span>
  {% endif %}
</p>