<div class="py-[50px]">
  <h1>This is Video Background</h1>
</div>


{% schema %}
{
  "name": "Hero Video Background",
  "settings": [
    {
      "type": "video",
      "id": "uploaded_video",
      "label": "Upload video"
    },
    {
      "type": "text",
      "id": "external_video_url",
      "label": "YouTube or Vimeo URL",
    }
  ],
  "presets": [
    {
      "name": "Hero Video Background",
      "category": "Hero"
    }
  ]
}
{% endschema %}
